@import url('https://fonts.googleapis.com/css?family=Montserrat|NTR|Pacifico|Quicksand|Roboto');
/*
  font-family: 'NTR', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Pacifico', cursive;
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
*:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*:focus{
  outline:none;
}
body{
  background-color: white;
}
/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= */
header{
  display: flex;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 50;
}
header .logofixed{
  font-family: 'Pacifico', cursive;
  padding-left: 3%;
  text-transform: capitalize;
  color: white;
  text-rendering: optimizeLegibility;
  letter-spacing: 2px;
  -webkit-transition: all 0.02s;
  -moz-transition: all 0.02s;
  transition: all 0.02s;
}
head .logofixed h1{

  -webkit-transition: all 0.06s;
  -moz-transition: all 0.06s;
  transition: all 0.06s;
}
header .icon-o{
  color: white;
  -webkit-transition: all 0.06s;
  -moz-transition: all 0.06s;
  transition: all 0.06s;
  padding: 10px 0px 0px 0px;
  margin-right: 3%;
  margin-left: auto;
}
header .icon-o span{
  cursor: pointer;
  font-size: 2em;
  padding: 15px 15px 10px 15px;
  text-rendering: optimizeLegibility;
}
.shrink .logofixed h1{
  font-size: 1.9em;
}
.shrink .icon-o{
  padding-top: 8px;
}
.shrink .icon-o span{
  font-size: 1.8em;
}


/* ---------------NOTE: contenedor landing-------------- */
.contenedor_0{
  align-items: center;
  height: 100vh;
  padding-left: 4%;
  background-image: linear-gradient(to left, #ee0979, #ff6a00);/*#FF512F, #DD2476);/*);#F09459, #e66586);#C33764, #1D2671*/
}
.contenedor_0 .titles{
  align-items: center;
  padding-top: 37vh;
  padding-right: 20%;
}
.contenedor_0 .titles h1{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  letter-spacing: 0px;
  text-rendering: geometricPrecision;
  font-size: 1.9em;
  font-weight: 100;
}
.contenedor_0 .text{
  padding-top: 15px;
  padding-bottom: 25px;
}
.contenedor_0 .text h3{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-rendering: geometricPrecision;
  font-size: 0.8em;
  font-weight: 100;
  color: rgb(205, 205, 205);
}
.contenedor_0 a{
  color: white;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  text-rendering: geometricPrecision;
  letter-spacing: 2px;
}
.contenedor_0 a span{
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 10px;
  margin-right: 5px;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  text-rendering: geometricPrecision;
  letter-spacing: 2px;
}
.contenedor_0 a span:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

/* ------------NOTE: texto------------- */
.contenedor_1{
  text-align: center;
}
.contenedor_1 h1{
  padding-top: 100px;
  padding-bottom: 18px;
  font-family: 'Montserrat', sans-serif;
  text-rendering: geometricPrecision;
}
.contenedor_1 p{
  font-family: 'Montserrat', sans-serif;
  text-rendering: geometricPrecision;
  color: rgb(107, 107, 107);
  padding-left: 4%;
  font-size: 1em;
  font-weight: lighter;
  padding-right: 4%;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 23px;
  padding-bottom: 85px;
}

/*------------ NOTE: division 3 ------------ */
.contenedor_2{
  align-items: center;
  /*grid-template-columns: repeat(3, 1fr);*/
}
.contenedor_2 .text{
  align-items: center;
  text-align: center;
}
#icon1{
  color: rgb(0, 203, 255);
}
#icon2{
  color: rgb(255, 60, 50);
}

#icon3{
  color: rgb(251, 169, 5);
}
.contenedor_2 .text span{
  font-size: 3em;
}
.contenedor_2 .text h2{
  text-rendering: optimizeLegibility;
  font-family: 'NTR', sans-serif;
  font-weight: lighter;
  font-size: 2em;
}
.contenedor_2 .text p{
  padding: 0 8% 55px 8%;
  color: #666;
  font-size: 1.1em;
  font-family: 'Quicksand', sans-serif;
  text-rendering: geometricPrecision;
  font-weight: lighter;
  letter-spacing: 2px;
}

/* -----------NOTE: imagenes y texto con animacion y movimiento-------- */

.contenedor_3 .images{
  /*padding-left: 2%;------>imagen solida*/
  padding-left: 4%;
  padding-top: 35px;
  padding-bottom: 75px;
  display: flex;
}
.contenedor_3 .images .uno{
  width: 25px;
}
.contenedor_3 .images .uno img{
  /*width: 980px;---->imagen solida*/
  width: 80vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.contenedor_3 .images .dos{
  padding-top: 35px;
  padding-left: 190px;
}
.contenedor_3 .images .dos img{
  width: 33vw;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.texto{
  text-align: center;
}
.texto h1{
  font-family: 'NTR', sans-serif;
  text-rendering: geometricPrecision;
  font-size: 2.1em;
  font-weight: lighter;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.texto p{
  padding-bottom: 25px;
  font-size: 1.1em;
  font-family: 'Quicksand', sans-serif;
  text-rendering: geometricPrecision;
  font-weight: lighter;
  letter-spacing: 2px;
  color: rgb(107, 107, 107);
  word-spacing: 2px;
  padding-left: 10%;
  padding-right: 10%;
}

/* ---------------NOTE: contenedor 4-------------- */
.contenedor_4{
  background-image: linear-gradient(to left, #ee0979, #ff6a00);/*);#F09459, #e66586);#C33764, #1D2671*/
  padding: 75px 8% 75px 8%;
  align-items: center;
  text-align: center;
}
.contenedor_4 h1{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.8em;
}
.ptr4{
  margin-top: -10px;
  text-align: center;
}
.ptr4 a{
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .9em;
  background-color: black;
  padding: 15px 35px;
  font-family: 'Roboto', sans-serif;
  text-rendering: geometricPrecision;
  border-radius: 25px;
}
/*-----------NOTE: marcas etc---------*/
.contenedor_5{
  padding: 75px 8%;
}
.contenedor_5 h1{
  text-align: center;
  text-rendering: geometricPrecision;
  font-family: 'Montserrat', sans-  serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 1em;
  line-height: 30px;
}
.contenedor_5 h1 span{
  background-color: black;
  color: white;
  padding: 8px 20px;
}
.contenedor_5 .icosvg{
  padding: 25px 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 90px);
  grid-gap: 10px;
}
.contenedor_5 .icosvg i{
  text-align: center;
  font-size: 7em;
  color: #555;
}
.contenedor_5 .icosvg i:hover{
  color: black;
}
#ba1, #ba2{
  font-size: 4em;
  padding-top: 30px;
}


/*----------NOTE: consola------------*/
.contenedor_8{
  padding-left: 15%;
  padding-right: 15%;
}
.contenedor_8 h1{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}
.contenedor_8 .head{
  background-color: rgb(231, 231, 231);
  height: 30px;
  padding-left: 5px;
  padding-top: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contenedor_8 .head span{
  border-radius: 200px;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 3px;
}
#btn1{
  background-color: rgb(250, 95, 92);
}
#btn2{
  background-color: rgb(251, 191, 71);
}
#btn3{
  background-color: rgb(59, 200, 78);
}
.contenedor_8 .bash{
  background-color: rgb(24, 24, 24);
  padding: 20px 5px 300px 10px;
  font-family: 'Quicksand', sans-serif;
  color: rgb(115, 210, 22);
  display: flex;
  font-size: 2.5em;
}
.contenedor_8 .bash .console-container{
  position: relative;
  display: flex;
  padding-left: 4px;
}
.contenedor_8 .bash .console-underscore {
   display:inline-block;
   top:-0.14em;
}
/*-------- NOTE: contenedor ------------*/
.contenedor_7{
  height: 60vh;
}
.contenedor_7 h1{
  font-family: 'NTR', sans-serif;
  font-size: 1.5em;
  padding-top: 30vh;
  font-weight: lighter;
  text-align: center;
}
.contenedor_7 h1 span{
  background-color: black;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
}



/* RESPONSIVE
   ========================================================================= /

/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) {
  header .logofixed{
    padding-left: 5%;
    padding-top: 10px;
  }
  header .icon-o{
    padding-top: 10px;
  }
  header .logofixed h1{
    font-size: 2.5em;
  }
  .shrink .logofixed h1{
    font-size: 1.9em;
  }
  .shrink .icon-o{
    padding-top: 8px;
  }
  .shrink .icon-o span{
    font-size: 1.9em;
  }
  /* ---------NOTE: texto inicial------------- */
  .contenedor_0{
    text-align: inherit;
  }
  .contenedor_0 .titles{
    align-items: center;
    padding-left: 5%;
    padding-right: 25%;
    padding-top: 37vh;
  }
  .contenedor_0 .titles h1{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-rendering: geometricPrecision;
    font-size: 2.3em;
    font-weight: 100;
  }
  .contenedor_0 .text{
    padding-top: 15px;
    padding-left: 5%;
    padding-bottom: 25px;
  }
  .contenedor_0 .text h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-rendering: geometricPrecision;
    font-size: 0.9em;
    font-weight: 100;
    color: rgb(205, 205, 205);
  }
  .contenedor_0 a{
    margin-left: 5%;
  }
  .contenedor_0 a span{
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 10px;
    margin-right: 5px;
    letter-spacing: 2px;
  }

  /* ----------------NOTE: texto------------ */
  .contenedor_1{
    text-align: center;
  }
  .contenedor_1 h1{
    padding-top: 090px;
    padding-bottom: 18px;
  }
  .contenedor_1 p{
    padding-left: 6%;
    font-size: 1em;
    padding-right: 6%;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 23px;
    padding-bottom: 75px;
  }



  /*------------ NOTE: division 3 ------------ */
  .contenedor_2{
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    grid-template-rows: repeat(3, 210px);
  }
  .contenedor_2 .text p{
    padding-bottom: 0;
  }
  /* -----------NOTE: imagenes y texto con animacion y movimiento-------- */
  .contenedor_3 .images{
    /*padding-left: 2%;------>imagen solida*/
    padding-left: 10%;
    padding-top: 35px;
    padding-bottom: 75px;
    align-content: center;
    display: flex;
  }
  .contenedor_3 .images .uno img{
    /*width: 980px;---->imagen solida*/
    width: 580px;
  }
  .contenedor_3 .images .dos{
    padding-top: 35px;
    padding-left: 390px;
  }
  .contenedor_3 .images .dos img{
    width: 235px;
  }

  .texto h1{
    font-family: 'NTR', sans-serif;
    text-rendering: geometricPrecision;
    font-size: 2.9em;
    font-weight: lighter;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
  .texto p{
    padding-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    text-rendering: geometricPrecision;
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgb(107, 107, 107);
    word-spacing: 2px;
    padding-left: 10%;
    padding-right: 10%;
  }


  /* ---------------NOTE: contenedor 4-------------- */
  .contenedor_4 h1{
    font-size: 1.8em;
  }

  /*-----------NOTE: marcas etc---------*/
  .contenedor_5{
    padding: 75px 8%;
  }
  .contenedor_5 h1{
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 1em;
  }
  .contenedor_5 .icosvg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 125px);
  }
  .contenedor_5 .icosvg i{
    font-size: 7em;
  }
  #ba1, #ba2{
    font-size: 4em;
    padding-top: 30px;
  }

  /*-------- NOTE: contenedor ------------*/
.contenedor_7{
  height: 70vh;
}
.contenedor_7 h1{
  font-family: 'NTR', sans-serif;
  font-size: 3em;
  padding-top: 30vh;
  font-weight: lighter;
  text-align: center;
}
.contenedor_7 h1 span{
  background-color: black;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
}


}

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) {
  header .logofixed{
    padding-left: 8%;
  }
  header .logofixed h1{
    font-size: 2.4em;
  }
  header .icon-o{
    padding-top: 10px;
  }
  header .icon-o span{
    font-size: 2.2em;
  }


  /* ---------------NOTE: ventana contacto-------------- */

  .contenedor_0{
    text-align: inherit;
  }
  .contenedor_0 .titles{
    text-align: inherit;
    align-items: center;
    padding-left: 8%;
    padding-right: 40%;
    padding-top: 37vh;
  }
  .contenedor_0 .titles h1{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-rendering: geometricPrecision;
    font-size: 3.2em;
    font-weight: 100;
  }
  .contenedor_0 .text{
    text-align: inherit;
    padding-top: 15px;
    padding-left: 8%;
    padding-bottom: 25px;
  }
  .contenedor_0 .text h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-rendering: geometricPrecision;
    font-size: 1.2em;
    font-weight: 100;
    color: rgb(205, 205, 205);
  }
  .contenedor_0 a{
    margin-left: 8%;
    text-align: inherit;
    color: white;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    text-rendering: geometricPrecision;
    letter-spacing: 2px;
  }
  .contenedor_0 a span{
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 10px;
    margin-right: 5px;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    text-rendering: geometricPrecision;
    letter-spacing: 2px;
  }

  /* ------------NOTE: como trabajamos------------ */

  .contenedor_1 h1{
    padding-top: 120px;
    padding-bottom: 20px;
    font-size: 1.9em;
    letter-spacing: 3px;
    word-spacing: 5px;
  }
  .contenedor_1 p{
    padding-left: 20%;
    font-family: 'Montserrat', sans-serif;
    padding-right: 20%;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 23px;
    padding-bottom: 80px;
  }


  /*------------ NOTE: division 3 ------------ */
  .contenedor_2{
    display: grid;
    align-items: center;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-template-rows: repeat(1, 350px);
  }
  .contenedor_2 .text{
    align-items: center;
    text-align: center;
  }
  .contenedor_2 .text span{
    font-size: 3em;
  }
  .contenedor_2 .text h2{
    text-rendering: optimizeLegibility;
    font-family: 'NTR', sans-serif;
    font-weight: lighter;
    font-size: 2em;
  }
  .contenedor_2 .text p{
    padding-left: 20%;
    padding-right: 20%;
    color: #666;
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;
    text-rendering: geometricPrecision;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  /* -----------NOTE: imagenes y texto con animacion y movimiento-------- */
  .contenedor_3 .images{
    /*padding-left: 2%;------>imagen solida*/
    padding-left: 10%;
    padding-top: 35px;
    padding-bottom: 75px;
    display: flex;
  }
  .contenedor_3 .images .uno img{
    /*width: 980px;---->imagen solida*/
    width: 800px;
  }
  .contenedor_3 .images .dos{
    padding-top: 35px;
    padding-left: 500px;
  }
  .contenedor_3 .images .dos img{
    width: 325px;
  }
  .texto h1{
    font-size: 2.9em;
    font-weight: lighter;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
  .texto p{
    padding-bottom: 25px;
    word-spacing: 2px;
    padding-left: 8%;
    padding-right: 8%;
  }


  /* ---------------NOTE: contenedor 4-------------- */
  .contenedor_4 h1{
    font-size: 2em;
  }
  .ptr4 a{
    font-size: .8em;
  }

  /*-----------NOTE: marcas etc---------*/
  .contenedor_5{
    padding: 75px 8%;
  }
  .contenedor_5 h1{
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 1em;
  }
  .contenedor_5 .icosvg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 145px);
  }
  .contenedor_5 .icosvg i{
    font-size: 10em;
  }
  #ba1, #ba2{
    font-size: 6em;
    padding-top: 30px;
  }


/*-------- NOTE: contenedor ------------*/
.contenedor_7{
  height: 70vh;
}
.contenedor_7 h1{
  font-family: 'NTR', sans-serif;
  font-size: 5em;
  padding-top: 30vh;
  font-weight: lighter;
  text-align: center;
}
.contenedor_7 h1 span{
  background-color: black;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
}



}

/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  header .logofixed{
    padding-left: 8%;
    padding-top: 5px;
  }
  header .icon-o{
    padding-top: 10px;
  }


  /*------------ NOTE: division 2 ------------ */
  /*grid-template-columns: repeat(3, 1fr

  grid-template-rows: repeat(1, 40vh););*/
  .contenedor_2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  }
  .contenedor_2 .text{
    align-items: center;
    text-align: center;
  }
  .contenedor_2 .text .icon-glyph-18{
    color: rgb(0, 203, 255);
  }
  .contenedor_2 .text .icon-glyph-13{
    color: rgb(255, 60, 50);
  }
  .contenedor_2 .text .icon-glyph-22{
    color: rgb(251, 169, 5);
  }
  .contenedor_2 .text span{
    font-size: 3em;
  }
  .contenedor_2 .text h2{
    text-rendering: optimizeLegibility;
    font-family: 'NTR', sans-serif;
    font-weight: lighter;
    font-size: 2em;
  }
  .contenedor_2 .text p{
    padding-left: 20%;
    padding-right: 20%;
    color: #666;
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;
    text-rendering: geometricPrecision;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  /*---------------NOTE: contenedor 3-------------*/
  .contenedor_3 .images{
    /*padding-left: 2%;------>imagen solida*/
    padding-left: 15%;
    padding-top: 35px;
    padding-bottom: 75px;
    display: flex;
  }
  .contenedor_3 .images .uno img{
    /*width: 980px;---->imagen solida*/
    width: 800px;
  }
  .contenedor_3 .images .dos{
    padding-top: 35px;
    padding-left: 500px;
  }

  /* ---------------NOTE: contenedor 4-------------- */
  .contenedor_4 h1{
    font-size: 2.3em;
  }



}
