@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,700');
/*
  font-family: 'NTR', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Pacifico', cursive;
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    text-rendering: optimizeLegibility;
}
* a{
	color: black;
}
/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= */
body{
	background-color:white;
	height: 150vh;
}
header{
	background-color: white;
}
header h1, header  .icon-o{
	color: black;
}
header .icon-o{
	padding-top: 25px;
}
.shrink{
	border-bottom: 1px solid #e3e3e3;
}
.shrink .logofixed h1{
	font-size: 1.8em;
}
.shrink .icon-o{
	padding-top: 14px;
}
.shrink .icon-o span{
	font-size: 1.7em;
}

.contenedor_0{
	color: black;
	padding: 140px 15% 0 15%;
	text-align: center;
}
.contenedor_0 h1{
	font-size: 1.9em;
	padding-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.f_dir{
	padding-top: 80px;
	padding-left: 15%;
}
.f_dir .pak{
	padding-top: 30px;
}
.f_dir h1{
	font-family: 'Roboto', sans-serifu;
	font-weight: 400;
	font-size: 1.3em;
	padding-bottom: 20px;
}
.f_dir a{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 1.1em;
	padding-left: 10px;
	line-height: 40px;
	font-weight: bolder;
	border-left: 3px solid transparent;
	color:rgb(0, 123, 223);
}
.f_dir a:hover{
	color: rgb(0, 109, 198);
	border-left: 3px solid rgb(255, 60, 50);/*rgb(251, 169, 5)  rgb(255, 60, 50)*/
}
.f_dat{
	padding-top: 70px;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 120px;
}
.f_dat .art{
	padding-top: 50px;
}
.f_dat .art h1, .f_dat .art p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.f_dat .art p{
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 23px;
	color: rgb(107, 107, 107);
	word-spacing: 2px;
	font-weight: 300;
	padding-top: 15px;
}
/* RESPONSIVE
   ========================================================================= /

/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) {	
	.contenedor_0 h1{
		font-size: 2em;
		padding-bottom: 15px;
		font-family: 'Roboto', sans-serif;
	}
		
}

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) {
	.contenedor_0 h1{
		font-size: 2.5em;
		padding-bottom: 15px;
		font-family: 'Roboto', sans-serif;
	}
	
}

/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) {
	

}

