@import url('https://fonts.googleapis.com/css?family=Montserrat|NTR|Pacifico|Quicksand|Roboto');
/*
  font-family: 'NTR', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Pacifico', cursive;
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= */
body{
	background-color:white;
	height: 350vh;
}
header{
	background-color: white;
}
header h1, header  .icon-o{
	color: black;
}
header .icon-o{
	padding-top: 25px;
}
.shrink{
	border-bottom: 1px solid #e3e3e3;
}
.shrink .logofixed h1{
	font-size: 1.9em;
}
.shrink .icon-o{
	padding-top: 15px;
}
.shrink .icon-o span{
	font-size: 1.8em;
}

/* RESPONSIVE
   ========================================================================= /

/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) {	
	
}

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) {
	
}

/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) {
	.contenedor_0{
		color: black;
		padding: 170px 15% 0 15%;
		text-align: center;
	}
	.contenedor_0 h1{
		text-rendering: geometricPrecision;
		font-size: 2.5em;
		padding-bottom: 15px;
		font-family: 'Quicksand', sans-serif;
	}
	.contenedor_0 p{
		font-family: 'Montserrat', sans-serif;
		font-size: 1.2em;
		font-weight: lighter;
		letter-spacing: 1px;
		word-spacing: 2px;
		color: rgb(107, 107, 107);
	}

}

