@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,500,700');
/*
  font-family: 'NTR', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Pacifico', cursive;
*/
/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    text-rendering: optimizeLegibility;
}
*:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*:focus{
    outline:none;
}
body{
    background-color: white;
}
header{
    display: flex;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 50;
}
header .logofixed{
    font-family: 'Pacifico', cursive;
    padding-left: 3%;
    text-transform: capitalize;
    color: white;
    letter-spacing: 2px;
    -webkit-transition: all 0.02s;
    -moz-transition: all 0.02s;
    transition: all 0.02s;
}
head .logofixed h1{
  
    -webkit-transition: all 0.06s;
    -moz-transition: all 0.06s;
    transition: all 0.06s;
}
header .icon-o{
    color: white;
    -webkit-transition: all 0.06s;
    -moz-transition: all 0.06s;
    transition: all 0.06s;
    padding: 10px 0px 0px 0px;
    margin-right: 3%;
    margin-left: auto;
}
header .icon-o span{
    cursor: pointer;
    font-size: 2em;
    padding: 15px 15px 10px 15px;
}
.shrink .logofixed h1{
    font-size: 1.9em;
}
.shrink .icon-o{
    padding-top: 8px;
}
.shrink .icon-o span{
    font-size: 1.8em;
}

/* ---------------NOTE: contenedor landing-------------- */
.contenedor_0{
    align-items: center;
    height: 100vh;
    padding-left: 4%;
    background-image: linear-gradient(to left,#ee0979, #ff6a00);/* #ee0979, #ff6a00   #FF512F, #DD2476);/*);#F09459, #e66586);#C33764, #1D2671*/
}
.contenedor_0 .titles{
    align-items: center;
    padding-top: 48vh;
    padding-right: 20%;
}
.contenedor_0 .titles h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
    font-size: 1.9em;
}
.contenedor_0 .titles h1 span{
    background-color: black;
    color: white;
    padding: 3px 12px;
}
.contenedor_0 a{
    color: white;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.contenedor_0 a span{
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 10px;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.contenedor_0 a span:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/*------------ NOTE: division 3 ------------ */
.contenedor_1{
    align-items: center;
    /*grid-template-columns: repeat(3, 1fr);*/
}
.contenedor_1 .text{
    align-items: center;
    text-align: center;
}
#icon1{
    color: rgb(0, 203, 255);
}
#icon2{
    color: rgb(255, 60, 50);
}  
#icon3{
    color: rgb(251, 169, 5);
}
.contenedor_1 .text span{
    font-size: 3em;
}
.contenedor_1 .text h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}
.contenedor_1 .text p{
    padding: 15px 8% 55px 8%;
    color: rgb(107, 107, 107);
    font-size: 1em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

/*----------NOTE:icons rotate y texto----------*/
.contenedor_2{
    text-align: center;
}
.contenedor_2 .iconos{
    font-size: 4em;
    color: rgb(0, 166, 254);
    text-align: center;
    padding-bottom: 50px;
}
.contenedor_2 .iconos #ic1, #ic3{
    display: inline-block;  /* <- ADD THIS */
    transform: rotate(-7deg);
    margin-left: -70px;
}
.contenedor_2 .iconos #ic2{
    display: inline-block;  /* <- ADD THIS */
    transform: rotate(7deg);
    margin-left: 70px;
}
.contenedor_2 .texto{
    padding-bottom: 50px;
}
.contenedor_2 .texto h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.1em;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.contenedor_2 .texto p{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: rgb(107, 107, 107);
    word-spacing: 2px;
    padding: 15px 10% 25px 10%;
}
/*-----------NOTE:consola y texto------------*/
.contenedor_3{
    text-align: center;
}
.contenedor_3 h1{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.1em;
}
.contenedor_3 .image{
    padding: 0 4%;
}
.contenedor_3 .image img{
    width: 90vw;
}



/*-----------NOTE: img y texto--------------*/
.contenedor_4{
    text-align: center;
}
.contenedor_4 #texto{
    padding: 10px 8% 70px;
}
.contenedor_4 #texto h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.1em;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.contenedor_4 #texto p{
    font-size: 1em;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: rgb(107, 107, 107);
    word-spacing: 2px;
}
.contenedor_4 #imagen{
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
    /*background-attachment: fixed;*/
    background-image: url(../jpg/bo1.jpg);
}

/*-----------NOTE:bloques v:--------------*/
.contenedor_5{
    padding: 20px 0;
    padding: 0 4%;
}
.contenedor_5 h1{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.1em;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.contenedor_5 .boxes .box{
    padding: 0 2%;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.contenedor_5 .boxes .box span{
    font-size: 7em;
    padding-right: 20px;
}
.contenedor_5 .boxes .box h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}
.contenedor_5 .boxes .box p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 2px;
    color: rgb(107, 107, 107);
    padding-bottom: 15px;
}
.contenedor_5 .boxes #uno, .contenedor_5 .boxes #dos, .contenedor_5 .boxes #tres, .contenedor_5 .boxes #cuatro, .contenedor_5 .boxes #cinco{
    font-size: 3.5em;
}

/* RESPONSIVE
   ========================================================================= // Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) { 
    header .logofixed{
        padding-left: 5%;
        padding-top: 10px;
    }
    header .icon-o{
        padding-top: 10px;
    }
    header .logofixed h1{
        font-size: 2.5em;
    }
    .shrink .logofixed h1{
        font-size: 1.9em;
    }
    .shrink .icon-o{
        padding-top: 8px;
    }
    .shrink .icon-o span{
        font-size: 1.9em;
    }
    /* ---------NOTE: texto inicial------------- */
    .contenedor_0{
        text-align: inherit;
    }
    .contenedor_0 .titles{
        align-items: center;
        padding-left: 5%;
        padding-right: 25%;
        padding-top: 45vh;
    }
    .contenedor_0 .titles h1{
        color: white;
        letter-spacing: 1px;
        font-size: 2.3em;
    }
    .contenedor_0 a{
        margin-left: 5%;
    }
    .contenedor_0 a span{
        border: 1px solid white;
        border-radius: 25px;
        padding: 10px 10px;
        margin-right: 5px;
        letter-spacing: 2px;
    }

    /*------------ NOTE: division 3 ------------ */
    .contenedor_1{
        display: grid;
        /*grid-template-columns: repeat(3, 1fr);*/
        grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
        grid-template-rows: repeat(3, 210px);
    }
    .contenedor_1 .text p{
        padding-bottom: 0;
    }

    /*---------NOTE: iconos rotate y texto-------*/
    .contenedor_2 .iconos{
        padding-top: 70px;
    }


    /*-----------NOTE:consola y texto------------*/
    .contenedor_3 .image{
        padding: 0 8%;
    }
    .contenedor_3 .image img{
        width: 70vw;
    }





}

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) { 
    header .logofixed{
        padding-left: 8%;
    }
    header .logofixed h1{
        font-size: 2.4em;
    }
    header .icon-o{
        padding-top: 10px;
    }
    header .icon-o span{
        font-size: 2.2em;
    }

    /* ---------------NOTE: ventana contacto-------------- */
    .contenedor_0{
        text-align: inherit;
    }
    .contenedor_0 .titles{
        text-align: inherit;
        align-items: center;
        padding-left: 8%;
        padding-right: 40%;
        padding-top: 40vh;
    }
    .contenedor_0 .titles h1{
        color: white;
        letter-spacing: 1px;
        font-size: 3.5em;
    }
    .contenedor_0 a{
        margin-left: 8%;
        text-align: inherit;
        color: white;
        font-size: 0.9em;
        letter-spacing: 2px;
    }
    .contenedor_0 a span{
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        padding: 10px 10px;
        margin-right: 5px;
        font-size: 0.8em;
        letter-spacing: 2px;
    }

     /*------------ NOTE: division 3 ------------ */
    .contenedor_1{
        display: grid;
        align-items: center;
        /*grid-template-columns: repeat(3, 1fr);*/
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        grid-template-rows: repeat(1, 350px);
    }
    .contenedor_1 .text{
        align-items: center;
        text-align: center;
    }
    .contenedor_1 .text span{
        font-size: 3em;
    }
    .contenedor_1 .text h2{
        font-size: 2em;
    }
    .contenedor_1 .text p{
        padding-left: 20%;
        padding-right: 20%;
        color: #666;
        font-size: 1.1em;
        letter-spacing: 2px;
    }
    /*---------NOTE: iconos rotate y texto------*/
    .contenedor_2{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .contenedor_2 .texto{
        padding-top: 70px;
    }

    /*-----------NOTE:consola y texto------------*/
    .contenedor_3 .image{
        padding: 0 4% 50px;
    }
    .contenedor_3 .image img{
        width: 600px;
    }
    /*-----------NOTE: img y texto--------------*/
    .contenedor_4{
        display: grid;
        grid-template-columns: 1fr 40%;
        grid-template-rows: 500px;
    }
    .contenedor_4 #texto{
        padding: 20% 10% 0%;
    }
    .contenedor_4 #imagen{
        height: 500px;
        background-size: cover;
        background-color: #333;
 /*       background-image: url(../jpg/bo1.jpg);*/
    }

    /*-----------NOTE:bloques v:--------------*/
    .contenedor_5{
        padding: 45px 4%;
    }
    .contenedor_5 h1{
    }
    .contenedor_5 .boxes{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
    }



}

/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { 
    header .logofixed{
        padding-left: 8%;
        padding-top: 5px;
    }
    header .icon-o{
        padding-top: 10px;
    }

    /*------------ NOTE: division 2 ------------ */
    .contenedor_1{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    }
    .contenedor_1 .text{
        align-items: center;
        text-align: center;
    }
    .contenedor_1 .text .icon-glyph-18{
        color: rgb(0, 203, 255);
    }
    .contenedor_1 .text .icon-glyph-13{
        color: rgb(255, 60, 50);
    }
    .contenedor_1 .text .icon-glyph-22{
        color: rgb(251, 169, 5);
    }
    .contenedor_1 .text span{
        font-size: 3em;
    }
    .contenedor_1 .text h2{
        font-size: 2em;
    }
    .contenedor_1 .text p{
        padding-left: 20%;
        padding-right: 20%;
        color: #666;
        font-size: 1.1em;
        letter-spacing: 2px;
    }
    
    /*---------NOTE: iconos rotate y texto------*/
    .contenedor_2{
        padding: 0 10% 30px 10%;
    }

    /*-----------NOTE:bloques v:--------------*/
    .contenedor_5{
        padding: 45px 15%;
    }
}

